In [1]:
import pandas as pd

In [2]:
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('max_columns', 50)
%matplotlib inline

In [3]:
s = pd.Series([7, 'Heisenberg', 3.14, -1789710578, 'Happy Eating!'])

In [4]:
0

0

In [5]:
s

0                7
1       Heisenberg
2             3.14
3      -1789710578
4    Happy Eating!
dtype: object

In [6]:
test = pd.Series({'A':1 , 'B':2, 'C':3})

In [7]:
test

A    1
B    2
C    3
dtype: int64

In [10]:
test['A']

100

In [9]:
test['A'] = 100

In [11]:
test[test > 10]

A    100
dtype: int64

In [13]:
print ('B' in test)

True

In [14]:
print (' B ' in test)

False

In [21]:
data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012,2015],
        'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions', 'Lions', 'Lions','NEW'],
        'wins': [11, 8, 10, 15, 11, 6, 10, 4,3],
        'losses': [5, 8, 6, 1, 5, 10, 6, 12,0]}


football = pd.DataFrame(data,columns = ['year', 'team', 'wins', 'losses'])

In [22]:
football

   year     team  wins  losses
0  2010    Bears    11       5
1  2011    Bears     8       8
2  2012    Bears    10       6
3  2011  Packers    15       1
4  2012  Packers    11       5
5  2010    Lions     6      10
6  2011    Lions    10       6
7  2012    Lions     4      12
8  2015      NEW     3       0